<%- include("templates/header") %>
<h1>You are logged in as <%= username %>!</h1>
<br>
Users
<ol>
    <% let i=0; %>
    <% for(i=0; i < users.length; i++) { %>
    <%- include('templates/user', {user: users[i]})  %>
    <% } %>
</ol>
<br>
<form action='/logout' method='post'>
    <button>Log out</button>
</form>
<%- include("templates/footer") %>