<%- include("templates/header") %>
log in
<form action='/loggingin' method='post'>
    <input name='email' type='email' placeholder='email'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
</form>
<% if (error == "email") { %>
<br> Error: Incorrect email. Please try again.
<% } %>
<% if (error == "password") { %>
<br> Error: Incorrect password. Please try again.
<% } %>
<%- include("templates/footer") %>